@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #7fffd4;
  --color-body: #374850;
  --color-primary: #ecececf5;
  --color-secondar: #c4c4c4c5;
}

body {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  background-color: var(--color-body);
}

.main {
  width: 100%;
  height: min(100vh);
}

header {
  .nav {
    background-color: var(--color-bg);
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    border-bottom: 1px solid #222;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
  }
}

.content {
  width: 100%;
  max-width: 1000px;
  height: 90%;
  margin: auto;
  padding: 42px 5.5vw;
}

.intro {
  h2 {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 16px;
    font-size: clamp(2rem, 2.5vw, 3.5rem);
  }

  p {
    color: var(--color-secondar);
    text-align: center;
  }
}

.task-input-box {
  margin: 3rem 0;
  /* border: 2px solid #222; */
  width: 100%;
  display: flex;

  input {
    flex-grow: 2;
    padding: 1rem;
    font-size: 1.2rem;
    font-style: "Google Sans Code", monospace;
    border-radius: 8px 0 0 8px;
    border: none;
    &:focus {
      outline: none;
    }
  }

  button {
    flex-grow: 1;
    background: var(--color-bg);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 900;
    font-style: "Google Sans Code", monospace;
    border-radius: 0 8px 8px 0;
    border: none;
    border-left: 4px solid var(--color-body);
    max-width: 120px;

    &:hover {
      cursor: pointer;
      scale: 1.01;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 12px;
    input,
    button {
      border-radius: 8px;
      max-width: 100%;
    }
  }
}

.task-container {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  h2 {
    color: var(--color-bg);
    margin-bottom: 16px;
    padding-left: 16px;
  }

  .tasks {
    width: 100%;

    .task {
      font-size: clamp(0.9rem, 2.5vw, 1.2rem);
      font-weight: 600;
      width: 100%;
      color: #111;
      padding: clamp(6px, 1.3vh, 12px) clamp(2.1rem, 6vw, 5rem);
      background-color: var(--color-primary);
      border-radius: 50vh;
      display: flex;
      align-items: center;
      position: relative;
      margin: 12px 0;
      transition: background-color 0.3s ease, color 0.3s ease;
      .svg {
        width: clamp(20px, 2vw, 1.4rem);
        position: absolute;
        right: clamp(8px, 2vw, 2rem);
        z-index: 10;
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;
      }
      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;

        width: clamp(20px, 3.5vw, 30px);
        height: clamp(20px, 3.5vw, 30px);

        background-color: transparent;
        border: 3px solid var(--color-body);
        border-radius: 6px;
        cursor: pointer;
        position: absolute;

        left: clamp(8px, 2vw, 2rem);

        transition: background-color 0.2s ease-in-out;

        &:checked {
          background-color: var(--color-bg);
          border-color: var(--color-body);

          &::after {
            content: "";
            display: block;
            position: absolute;

            top: 10%;
            left: 30%;

            width: 25%;
            height: 50%;

            border: solid var(--color-body);
            border-width: 0 4px 3px 0;
            transform: rotate(45deg);
          }
        }
      }
      &:hover .svg {
        opacity: 1;
      }
    }

  }
}

#input-blue-caret {
  caret-color: #007bff;
  width: 20px;
}

.visible {
  opacity: 1;
}

.completed {
  background-color: #868585; /* Lighter shade */
  text-decoration: line-through;
  text-decoration-thickness: 4px;
  text-decoration-color: #1c1c1ca3;

}

.task:has(input[type="checkbox"]:checked) {
  background-color: gray;
  text-decoration: line-through;
  /* color: white; */
}